<div class="container-fluid p-4">
    <div class="row">
        <h2>C# to TS Converter</h2>
        <p>Convert C# class fields to TypeScript interface fields.</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="csharp-code" class="form-label">C# class fields:</label>
            <div class="code-border" >
                <code-area innerStyle="min-height:500px;" [(code)]="csCode" (codeChange)="inputDebouncer.next(csCode)"
                    language="csharp" />
            </div>
            <br />
        </div>
        <div class="col-md-6">
            <label for="ts-code" class="form-label">TS interface fields:</label>
            <div class="code-border" [@valueChangeAnim]="status">
                <code-area innerStyle="min-height:500px;" [(code)]="tsCode" language="typescript" readonly="true" />
            </div>
            <br />
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <button class="btn btn-success" (click)="convert()">Convert <i class="bi bi-caret-right"></i></button>
        </div>
    </div>
</div>