<div class="container-fluid p-4">
    <div class="row">
        <h1>C# to TS Converter</h1>
        <p>Convert C# class fields to TypeScript interface fields.</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="csharp-code" class="form-label">C# class fields:</label>
            <code>
                <textarea #csCode class="form-control" id="csharp-code" rows="16" code-area language="clike" (input)="onInput()"
                [(ngModel)]="csModel"></textarea>
            </code>
            <br />
        </div>
        <div class="col-md-6">
            <label for="ts-code" class="form-label">TS interface fields:</label>
            <code>
                <textarea #tsCode class="form-control" id="ts-code" rows="16" disabled="true" [ngModel]="tsModel"></textarea>
            </code>
            <br />
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <button class="btn btn-success" (click)="convert()">Convert <i class="bi bi-caret-right"></i></button>
        </div>
    </div>
</div>