<div id="header" class="d-flex">
    <div class="col-4 h-100">
        <a class="w-100 h-100 d-flex justify-content-start gap-2 align-items-center ps-2"
            [routerLink]="['/','home']">
            <img src="code-chef.svg" />
            <h1 class="fs-2 m-0">CodeChef</h1>
        </a>
    </div>
    <div class="col-4 h-100 d-flex justify-content-center">

    </div>
    <div class="col-4 h-100 d-flex justify-content-end pe-2">
        <a class="bi bi-github d-flex justify-content-center align-items-center fs-2 btn-header-round" href="https://github.com/IPdotSetAF/CodeChef"></a>
    </div>
</div>