#header {
    --height: 55px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: var(--height);
    background-color: #212529b0;
    backdrop-filter: blur(2px);
    border-bottom: #FFFFFF30 1px solid;
}

img {
    height: 65%;
}

a {
    text-decoration: none;
    color: inherit !important;
}

.btn-header-round {
    --btn-size: calc(var(--height) - 5px) !important;
}