<div class="container-fluid border-1 border-top border-secondary">
    <div class="col-12">
        <div class="row p-2 gap-2">
            <div class="col-12 text-secondary">
                <div class="d-flex align-items-center gap-2 mb-1">
                    <img id="logo" src="code-chef.svg" />
                    <h3 class="fs-5 m-0">CodeChef v{{version}}</h3>
                </div>
                <p>
                    <a href="https://github.com/IPdotSetAF/CodeChef">Open-source</a> developer utility website. Here to
                    help software developers skip repetetive and boring tasks and automate what could be automated.
                    <br />
                    Everyone is welcome to contribute, give feedback or report bugs.
                </p>
            </div>
            <div class="col-12 border-1 border-top border-secondary"></div>
            <div class="col-12 text-secondary">
                <div class="d-flex gap-2">
                    <label>© 2024 <a href="https://ipdotsetaf.ir">IPdotSetAF</a>. Licensed under the GPL-3.0
                        License.</label>
                    <div class="flex-fill"></div>
                    <a class="btn-footer btn-circle btn-hover bi bi-telephone fs-5" href="tel:+989387016860"></a>
                    <a class="btn-footer btn-circle btn-hover bi bi-telegram fs-5" href="https://t.me/IPdotSetAF"></a>
                    <a class="btn-footer btn-circle btn-hover bi bi-discord fs-5" href="https://discord.com/invite/BTZDf7fs"></a>
                    <a class="btn-footer btn-circle btn-hover bi bi-linkedin fs-5" href="https://linkedin.com/in/ipaf"></a>
                    <a class="btn-footer btn-circle btn-hover bi bi-github fs-5" href="https://github.com/IPdotSetAF"></a>
                </div>
            </div>
        </div>
        <div id="footer-base" class="row"></div>
    </div>
</div>