#footer-base {
    height: 5px;
    background: linear-gradient(135deg, #ff0340 0%, 57.99%, #163af7 100%);
    background-size: 200% 200%;
    animation: gradient-move 30s ease infinite;
}

a {
    color: inherit !important;
}

.btn-footer {
    --btn-size: 30px !important;
}

#logo {
    filter: brightness(0%) invert() brightness(40%);
    height: 20px;
}

.fs-md{
    font-size: smaller;
}

.fs-sm{
    font-size: small;
}

@keyframes gradient-move {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
