#footer-base {
    height: 5px;
    background: linear-gradient(135deg, #ff0340 0%, 57.99%, #163af7 100%);
    background-size: 200% 200%;
    animation: gradient-move 30s ease infinite;
}

@keyframes gradient-move {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

a {
    color: inherit !important;
}

.btn-a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: box-shadow 0.1s ease-in-out;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-a:hover {
    box-shadow: inset 0 0 0 999999px #FFFFFF20;
}

.btn-a:active {
    box-shadow: inset 0 0 0 999999px #FFFFFF30;
}

#logo {
    filter: brightness(0%) invert() brightness(40%);
    height: 20px;
}