<div class="container page p-4">
    <div class="col-12">
        <h1 class="bi bi-download"> Downloads</h1>
        <p>Here You can download required or useful softwares.</p>

        <h2 class="bi bi-database"> MSSQL proxy server</h2>
        <p>This proxy server is neccessary for any codechef tool that needs to communicate with MSSQL server. this
            server will expose http endpoints for connecting, disconnecting and executing queries against the connected
            database. this proxy can connect to multiple databases at the same time.
        </p>
        <p>Choose proper version based on your operating system.</p>
        <div class="row">
            <div class="col-12 d-flex flex-wrap gap-2 justify-content-center">
                <a role="button" class="bi bi-windows btn btn-success text-no-wrap" href="https://github.com/IPdotSetAF/CodeChef/releases/download/{{version}}/mssql-proxy-{{version}}-windows.zip"> Windows</a>
                <a role="button" class="bi bi-ubuntu btn btn-success text-no-wrap" href="https://github.com/IPdotSetAF/CodeChef/releases/download/{{version}}/mssql-proxy-{{version}}-linux-amd64.tar.gz"> Linux - AMD64</a>
                <a role="button" class="bi bi-ubuntu btn btn-success text-no-wrap" href="https://github.com/IPdotSetAF/CodeChef/releases/download/{{version}}/mssql-proxy-{{version}}-linux-arm64.tar.gz"> Linux - ARM64</a>
                <a role="button" class="bi bi-apple btn btn-success text-no-wrap disabled" href="https://github.com/IPdotSetAF/CodeChef/releases/download/{{version}}/mssql-proxy-{{version}}-macos.tar.gz"> Mac OS</a>
                <a role="button" class="bi bi-filetype-py btn btn-success text-no-wrap" href="https://github.com/IPdotSetAF/CodeChef/releases/download/{{version}}/mssql-proxy-{{version}}-source.tar.gz"> Python Source Code</a>
            </div>
          </div>
    </div>
</div>