<div class="container-fluid d-flex vh-100 p-4">
  <div class="m-auto">
    <div class="col-12 d-flex justify-content-center">
      <img class="row" src="code-chef.svg" height="200px" />
    </div>
    <br />
    <div class="row text-center">
      <h1>CodeChef</h1>
      <p>Let's cook some code!</p>
    </div>
    <br />
    <div class="row">
      <div class="col-12 d-flex flex-wrap gap-2 justify-content-center">
        <a class="btn btn-outline-success" [routerLink]="['/','cs2ts']">C# to TS Converter</a>
        <a class="btn btn-outline-success" [routerLink]="['/','mssqlscaffold']">MSSQL Scaffolder</a>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <label class="text-info">More tools Comming soon...</label>
      </div>
    </div>
  </div>
</div>