<div class="container-fluid page p-4">
    <div class="row mb-3">
        <h2>ID Generator</h2>
        <p>You can easily generate GUID/UUID or NanoID using this tool.<br />
            Just configure the tool and keep generating as many valid IDs as you like!</p>
    </div>

    <div class="row mb-3">
        <div class="col-sm-6 d-flex gap-2">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="idTypeRadio" id="guid" [value]="true"
                    [(ngModel)]="isGuid" (change)="generate()">
                <label class="form-check-label" for="guid">GUID / UUID</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="idTypeRadio" id="nanoid" [value]="false"
                    [(ngModel)]="isGuid" (change)="generate()">
                <label class="form-check-label" for="nanoid">NanoID</label>
            </div>
        </div>
        <div class="col-sm-6 d-flex gap-2">
            <label class="form-label d-block me-2">Options:</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="hyphens" [disabled]="!isGuid" [(ngModel)]="hyphen"
                    (change)="generate()" />
                <label class="form-check-label" for="hyphens">Hyphens</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="uppercase" [(ngModel)]="uppercase"
                    (change)="generate()" />
                <label class="form-check-label" for="uppercase">Uppercase</label>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-4">
            <label for="idCount" class="form-label">ID Count</label>
            <input type="number" class="form-control" id="idCount" [(ngModel)]="count" (change)="generate()" />
        </div>
        <div class="col-sm-4">
            <label for="prependText" class="form-label">Prepend Text</label>
            <input type="text" class="form-control" id="prependText" [(ngModel)]="prepend" (change)="generate()" />
        </div>
        <div class="col-sm-4">
            <label for="appendText" class="form-label">Append Text</label>
            <input type="text" class="form-control" id="appendText" [(ngModel)]="append" (change)="generate()" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col d-flex gap-2">
            <label class="form-label d-block me-2">Encoding:</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="base64" [(ngModel)]="base64"
                    (change)="generate()" />
                <label class="form-check-label" for="base64">Base64</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="rfc7515" [disabled]="!base64" [(ngModel)]="rfc7515" (change)="generate()" />
                <label class="form-check-label" for="rfc7515">RFC7515</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="urlEncode" [disabled]="!base64"
                    [(ngModel)]="urlEncode" (change)="generate()" />
                <label class="form-check-label" for="urlEncode">URL Encode</label>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <label for="csharp-code" class="form-label">Generated IDs:</label>
            <div class="code-border" [@valueChangeAnim]="status">
                <code-area innerStyle="min-height:300px;" [(code)]="idsCode" language="typescript" readonly="true" />
            </div>
            <br />
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <button class="btn btn-success" (click)="generate()">Generate <i class="bi bi-stars"></i></button>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-12">
            <p><strong>GUID &amp; UUID</strong><br>GUID (Globally Unique Identifier) and UUID (Universally Unique
                Identifier) are 128-bit unique IDs widely used in databases, distributed systems, and APIs. These
                alphanumeric strings (like <code>550e8400-e29b-41d4-a716-446655440000</code>) ensure uniqueness across
                systems. UUIDs follow the <strong>RFC 4122</strong> standard and come in versions like <strong>v1
                    (time-based)</strong> or <strong>v4 (random)</strong>, making them perfect for decentralized setups
                where collisions must be avoided.</p>
            <p><strong>NanoID</strong><br>NanoID is the sleek, modern alternative to UUIDs. It’s
                <strong>faster</strong>, <strong>customizable</strong>, and <strong>shorter</strong>—ideal for use cases
                like short URLs, user sessions, or SPAs. With adjustable lengths and character sets, NanoID gives
                developers full control while staying efficient and secure. Need a compact, unique ID that’s easy to
                work with? NanoID has you covered.</p>
        </div>
    </div>
</div>